@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body>
    <form>
        <div class="container">
            <h1>Register</h1>
         <br />
            <label for="email"><b>Username</b></label>
            <input type="text" name="username" placeholder="Enter Username" required>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="email"><b>Phone Number</b></label>
            <br>
            
       
            <div class="clearfix">

                <button type="submit" class="btn">Sign Up</button>
            </div>
        </div>
    </form>

    
</body>