

@media (min-width: 768px) {
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #3498db !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.pb-3{
    background:none !important;
}

.container {
    margin: 60px auto;
    background: #fff;
    padding: 0 !important;
    border-radius: 7px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.settings-tray {
    background: #eee;
    padding: 10px 15px;
    border-radius: 7px;
}

    .settings-tray .no-gutters {
        padding: 0;
    }

.settings-tray--right {
    float: right;
}
.no-gutters{
    background:white;
    border-radius:5px;
}

.settings-tray--right i {
    margin-top: 10px;
    font-size: 25px;
    color: grey;
    margin-left: 14px;
    transition: 0.3s;
}

        .settings-tray--right i:hover {
            color: #74b9ff;
            cursor: pointer;
        }

.search-box {
    background: #fafafa;
    padding: 10px 13px;
}

    .search-box .input-wrapper {
        background: #fff;
        border-radius: 40px;
    }

        .search-box .input-wrapper i {
            color: grey;
            margin-left: 7px;
            vertical-align: middle;
        }

.search-box input {
    border: none;
    border-radius: 30px;
    width: 100% !important;
    padding:10px !important;
}

    input::placeholder {
        color: #e3e3e3;
        font-weight: 300;
        margin-left: 20px;
    }

    input:focus {
        outline: none;
    }

.friend-drawer {
    padding: 5px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: 0.3s ease;
}

.friend-drawer--grey {
    background: #eee;
}

.friend-drawer .text {
    margin-left: 12px;
    width: 70%;
}

    .friend-drawer .text h6 {
        margin-top: 6px;
        margin-bottom: 0;
        text-transform:capitalize;
    }

    .friend-drawer .text p {
        margin: 0;
        font-size:12px;
    }

.friend-drawer .time {
    color: grey;
}

.friend-drawer--onhover:hover {
    background: #74b9ff;
    cursor: pointer;
}

    .friend-drawer--onhover:hover p,
    .friend-drawer--onhover:hover h6,
    .friend-drawer--onhover:hover .time {
        color: #fff !important;
    }


.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    animation: fadeIn 1s ease-in;
    max-width:200px;
}
.offset-md-9 {
    background: #333;
    color: white;
}
.left{

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.offset-md-9 .chat-bubble {
    background: #74b9ff;
    color: #fff;
}

.chat-box-tray {
    background: #eee !important;
    display: flex;
    align-items: baseline;
    padding: 10px 15px;
    align-items: center;
    position:fixed;
    width:760px;
}
.chat-panel {
    background: white !important;
    height: 465px;
    overflow-y: scroll;
    flex-direction: column-reverse;
}
.chat-box-tray input {
    margin: 0 10px !important;
    padding: 6px 2px !important;
}

    .chat-box-tray i {
        color: grey;
        font-size: 30px;
        vertical-align: middle;
    }

        .chat-box-tray i:last-of-type {
            margin-left: 25px;
        }



/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }



}

#chat3 .form-control {
    border-color: transparent;
}

    #chat3 .form-control:focus {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
    }

.badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
}